/*csslint order-alphabetical: false, box-model: false*/

body{font-size:0;}


.kiskepek {
    width:90%;
    height: 200px;
    background: #00004d;
    margin: 0 auto;
}

.kiskepek div {
    display: inline-block;
    width: 30%;
    height: 150px;
    background: #ff3300;
    overflow: hidden;
}

.mid {
    margin: 0 5%;
}

.nagykep {
    width: 90%;
    height: 400px;
    background: #00ffcc;
    margin: 1% auto;
}
.nagykep img, .kiskepek img { width:100%; }
